@import '../variables/variables.scss';

.navbar_container {
  position: relative;
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button.button {
    all: unset;
    display: grid;
    place-items: center;
    color: $iconColor !important;
    font-size: 0.75rem;
    transition: all 500ms;
    cursor: pointer;
    &.active {
      color: $activeIconColor !important;
    }
    &:hover {
      color: $activeIconColor !important;
    }
  }
  &::after {
    content: '';
    position: absolute;
    inset: 102.5% 0 0 50%;
    transform: translateX(-50%);
    height: 0.1rem;
    width: 90%;
    border-radius: 1rem;
    background-color: $borderColor;
  }
}
.searchbar_container {
  height: 2rem;
  display: grid;
  place-items: center;
  .input {
    all: unset;
    box-sizing: border-box;
    padding: 0 0.5rem 0 1rem;
    margin-top: 0.5rem;
    background-color: $searchInputBC;
    border-radius: 5px;
    width: 90%;
    font-size: 0.85rem;
    height: 1.5rem;
    color: $searchInputColor;
    &:focus,
    &:valid &:invalid &:active &::placeholder {
      border: none;
      outline: none;
    }
    &::placeholder {
      color: $searchInputColor;
    }
  }
}
